.filter {
  width: 400px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.inputFilter {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 0;
  color: black;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.labelForm {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 600;
  color: black;
}
